$bg: #171E28;
$bg-light: #222C3C;
$bg-sidebar: #1B2431;
$bg-tooltip: #434344;
$bg-accordion: #273142;
$bg-red: #C23636;
$bg-blue-dark: #181F29;
$bg-blue-dark2: #151C27;
$bg-dropdown: #353C48;
$bg-dropdown-item-hover: #282F3B;
$bg-light-light-blue: #0981D8;
$text-color-white: #ffffff;
$text-color-blue: #24A4FF;
$text-color-grey: #89878A;
$text-color-grey2: #7F8FA4;
$text-color-green: #9DC920;
$border-color: #313D4F;
$stroke: #0981D8;


